<div id="mainContainer">
  <h4>{{ title }} </h4>
  <form class="form-inline" style="justify-content: space-between; padding: 0 20px;">
    <input type="text" class="form-control" [(ngModel)]="newTask.name" id="name" name="name" placeholder="New task" minlength="2" style="min-width: 75%">
    <button type="submit" class="btn btn-primary" (click)="addNewItem()">Add</button>
  </form>
  <ul class="list-group list-group-flush" style="margin-top: 20px;">
      <li class="list-group-item listItem" *ngFor="let item of list" [ngClass]="{'strikeThrough': item.completed}" style="justify-content: space-between">
        <i class="far fa-square" *ngIf="!item.completed" (click)="changeItemStatus(item)"></i>
        <i class="far fa-check-square" *ngIf="item.completed" (click)="changeItemStatus(item)"></i>
        <span style="margin-right: 10px;">{{item.name}}</span>
        <i class="far fa-edit marginLeftAuto" *ngIf="!item.completed" title="Edit"></i>
        <i class="far fa-trash-alt" (click)="delete(item)" title="Delete" [ngClass]="{ 'marginLeftAuto' : item.completed}"></i>
      </li>
  </ul>
</div>



