h4 {
    padding: 20px 20px 15px 20px;
}

#mainContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
}

.strikeThrough {
    text-decoration: line-through;
}

.mainContainer input {
    margin-top: 20px;
}

.danger {
    color: red;
}

i {
    cursor: pointer;
    padding-right: 10px;
    color: #ccc;
}

.listItem {
    display:flex;
    align-items: center;
}

.marginLeftAuto {
    margin-left: auto;
}